In [34]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [36]:
df = pd.read_csv("spam_ham_dataset.csv", sep= ",")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [37]:
df["text"]

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [26]:
df1 = df[["label", "text"]]
df1.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [27]:
df1.sample(20)

     label                                               text
3535  spam  Subject: eshopkey + ??????????? !\r\n?? eshopk...
1616   ham  Subject: teco ' s indian spring plant\r\n- - -...
2065  spam  Subject: system information - january 5 th\r\n...
4885  spam  Subject: \r\nthe president / ceo .\r\ndear sir...
236   spam  Subject: this is the book my friend was talkin...
191   spam  Subject: young sluts getting creamy facials fo...
1149  spam  Subject: mortgage interest rates are at their ...
423    ham  Subject: enron / hpl actuals for september 29 ...
3323   ham  Subject: some after thoughts to our meeting\r\...
933   spam  Subject: movie lovers love this kqo 3\r\nintro...
345   spam  Subject: send out five motor\r\natt : client i...
5039  spam  Subject: just kidding\r\nif image above doesnt...
3826   ham  Subject: revised noms - four square gas\r\ndar...
1127  spam  Subject: don ' t be fooled abazis\r\nabazis\r\...
5070  spam  Subject: he ' s gone for the night\r\nyou ' ve...
529    ham  Subject: lonestar cleburne payback\r\ndaren - ...
2959   ham  Subject: nom change - effective may 27 , 2000 ...
572    ham  Subject: entex volumes and price for 1999 - 20...
3601  spam  Subject: next of kin\r\nattn ; dear sir / mada...
1517  spam  Subject: keep your memories alive with a free ...

In [28]:
X =np.array(df1["text"])
y= np.array(df1["label"])

In [29]:
cv = CountVectorizer()

In [30]:
X = cv.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [31]:
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [32]:
sample = input("Enter a message : ")
data = cv.transform([sample]).toarray()
print(clf.predict(data))

['ham']